extends layout
block content
  .row.banner
    .col-we
      h1=title
  .row
    .col-12.col-lg-8
      p
        | About WSHFC
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
