extends layout

block content
  .row.banner
    .col-12
      h1 WSHFC
        small &nbsp;Click through each program to learn more!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/program') 9% LIHTC
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right Ask
          p.address 1000 Second Ave, Suite 2700
          p.facilities
            span.badge.badge-warning 9% subsidy
      .card
        .card-block
          h4
            a(href='/program') 4% LIHTC
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right Ask
          p.address 1000 Second Ave, Suite 2700
          p.facilities
            span.badge.badge-warning 4% subsidy

            .card
              .card-block
                h4
                  a(href='/program') 4% LIHTC
                  small &nbsp;
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                  span.badge.badge-pill.badge-default.float-right Ask
                p.address 1000 Second Ave, Suite 2700
                p.facilities
                  span.badge.badge-warning 4% subsidy

    .col-12.col-md-4
      p.lead Making affordable homes and healthy communities a reality for everyone.
